@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* || RESET  */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea {
    font: inherit;
}

/*  || VARIABLES  */

:root {
    /* FONTS */
    --FF: "Nunito: sans-serif";
    --FF-HEADINGS: "Fugaz One: cursive";
    --FS: clamp(1rem, 2.2vh, 1.5rem);


    /* COLORS */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BG-IMAGE: liner-gradient(to bottom, var(var(--BGCOLOR), var(var(--BGCOLOR-FADE))));
    --BODYBGCOLOR: #FFF;
    --FONT_COLOR: #000;

    /* ||UTILITY CLASSES */
    .offsceen {
        position: absolute;
        left: -10000px;
    }

    .nowrap {
        white-space: nowrap;
    }

    .center {
        text-align: center;
    }

    /* || GENERAL STYLES */
    html {
        scroll-behavior: smooth;
        font-size: var(--FS);
    }


}


.HTML_lesson_banner {
    width: 100%;
    padding: 10px 0;
    font-size: 2rem;
    text-align: center;
    margin: 0px 0 0px 0;
    margin: 0 auto;
    background-color: rgb(43, 173, 199);
    border: 3px solid black;
}